@import 'func'

aside
  position fixed
  top 0
  width 160px
  background #353535
  height 100%
  overflow hidden
  h4
    margin-top 15px
    font-size 10px
    font-weight bold
  ul
    list-style none
    margin 0
    padding 0
    li
      margin 5px 0
      ul 
        padding-left 10px
        display none
        li a
          font-size 12px
      a
        color #eee    
      a.selected
        font-weight bold
        color #fff
      a.selected + ul
        display block
        li a
          color #C5C5C5
        li a:hover
          color #D88F2A
          
          
  .scroll
    padding 25px 20px
    height 100%
    width 175px
    overflow auto
    