
@import 'func'

*
  box-sizing border-box
  
body, html
  font 14px/1.6 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif
  background-color #fff
  color #666
  margin 0
  padding 0

body
  height 100%
  
iframe
  position fixed
  top 15px
  right 5px
iframe.watch
  right 62px
  
div
  position relative
p
  margin 3px 0 10px 0
  font-size 14px
  line-height 32px
  color #555
  a
    font-weight bold
    font-size 14px
  strong
    font-size 14px
a
  font-size 13px
  color #00468C
  text-decoration none
  transition()
a.selected
a:hover
  color #D88F2A
  
h1,h2,h3,h4,h5
  font-weight 100
  padding 7px 0 0 0
  clear both
h1
  font-size 40px
  margin 7px 0 10px 0
  letter-spacing -1px
  font-weight bold
h2
  font-size 22px
  text-transform uppercase
h3
  padding 20px 0 4px 0
  font-size 16px
  text-transform uppercase
hr
  border 0
  height 1px
  background #ccc
  margin 25px 0
  clear both


  