
body.examples,
body.docs,
html {
  background: -moz-linear-gradient(left, #e1eef8 0%, #fff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1eef8), color-stop(100%, #fff));
  background: -webkit-linear-gradient(top, #e1eef8 0%, #fff 100%);
  background: -o-linear-gradient(top, #e1eef8 0%, #fff 100%);
  background: -ms-linear-gradient(top, #e1eef8 0%, #fff 100%);
  background: linear-gradient(to bottom, #e1eef8 0%, #fff 100%);
  background-repeat: no-repeat;
}
section[role=main] {
  margin: 20px 2% 40px 200px;
  max-width: 810px;
}
section[role=main] img {
  margin: 20px 0;
}
section[role=main] p:first-child,
section[role=main] p:first-of-type {
  font-size: 18px;
  line-height: 38px;
}
section[role=main] p:first-child a,
section[role=main] p:first-of-type a,
section[role=main] p:first-child strong,
section[role=main] p:first-of-type strong {
  font-size: 18px;
}
section[role=main] .flow {
  width: 120px;
  float: left;
  text-align: center;
  margin: 10px 15px 15px 0;
}
section[role=main] .flow h5 {
  display: block;
  background: #00468c;
  width: 100%;
  height: 120px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  color: #fff;
  font-weight: bold;
  line-height: 105px;
  box-shadow: #74a9da -2px -4px 0;
  -moz-box-shadow: #74a9da -2px -4px 0;
  -webkit-box-shadow: #74a9da -2px -4px 0;
}
section[role=main] .flow p,
section[role=main] .flow a {
  padding: 3px;
  font-size: 11px !important;
  line-height: 15px;
}
section[role=main] pre,
section[role=main] blockquote {
  line-height: 20px;
  padding: 15px;
  font-size: 11px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
}
section[role=main] pre code,
section[role=main] blockquote code {
  padding: 0;
  background: transparent;
  border: none;
}
section[role=main] code {
  padding: 1px 5px;
  background: #eee;
  border: 1px solid #ddd;
}
section[role=main] blockquote {
  margin-right: 90px;
  font-style: italic;
}
.credit {
  font-size: 11px;
  line-height: 20px;
}
.credit a {
  font-size: 11px;
}

/* layouts for the examples app components (forms styled separately) */
div.grid {
  position: relative;
}
div.grid input[type=text] {
  position: absolute;
  top: 0;
  right: 0;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
  border-top: 1px solid rgba(0,0,0,0.10);
  border-left: 1px solid rgba(0,0,0,0.10);
  border-right: 1px solid rgba(0,0,0,0.06);
  border-bottom: 1px solid rgba(0,0,0,0.06);
  padding: 5px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  border: 1px solid rgba(0,0,0,0.40);
  outline: none;
}
input[type=text].error,
input[type=password].error,
input[type=email].error,
textarea.error {
  border: 1px solid '#c00';
}
input[type=text].validated,
input[type=password].validated,
input[type=email].validated,
textarea.validated {
  border: 1px solid '#0c0';
}


.swell-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
.swell-list li {
  border-top: 1px solid rgba(0,0,0,0.06);
  border-left: 1px solid rgba(0,0,0,0.06);
  border-right: 1px solid rgba(0,0,0,0.10);
  border-bottom: 1px solid rgba(0,0,0,0.10);
  background-color: #fff;
  padding: 10px;
  margin-top: -1px;
}
.sortable li:active {
  box-shadow: 0 2px 4px rgba(0,0,0,0.30);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.30);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.30);
  opacity: 0.8;
  cursor: move;
}
table.grid {
  width: 100%;
}
table.grid th {
  text-align: left;
  font-size: 11px;
  padding: 3px 10px;
  white-space: nowrap;
}
table.grid th.sortable {
  cursor: pointer;
}
table.grid tr {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
}
table.grid tr.odd,
table.grid tr:nth-child(even) {
  background: #fff;
}
table.grid tr:first-child {
  background: transparent;
}
table.grid td {
  padding: 5px;
  font-size: 12px;
}
table.grid tr:hover {
  background: #eee;
}

.loader {
  width: 120px;
  margin: 10px auto;
  text-align: center;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
}
.loader em {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 4px;
  background: rgba(0,0,0,0.50);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: bouncedelay 0.85s infinite ease-in-out;
  animation-name: bouncedelay;
  -moz-animation-name: bouncedelay;
  -webkit-animation-name: bouncedelay;
  animation-duration: 0.85s;
  -moz-animation-duration: 0.85s;
  -webkit-animation-duration: 0.85s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: ease-in-out;
  -webkit-animation-direction: ease-in-out;
  -moz-animation-direction: ease-in-out;
  animation-delay: 0;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loader em.one {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.loader em.two {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.3s;
}
.loader em.three {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.loader em.four {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-moz-keyframes bouncedelay {
  0%, 70%, 100% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    opacity: 0.3;
    margin-right: 4px;
  }

  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
    margin-right: 8px;
  }
}
@-webkit-keyframes bouncedelay {
  0%, 70%, 100% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    opacity: 0.3;
    margin-right: 4px;
  }

  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
    margin-right: 8px;
  }
}
@-o-keyframes bouncedelay {
  0%, 70%, 100% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    opacity: 0.3;
    margin-right: 4px;
  }

  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
    margin-right: 8px;
  }
}
@-ms-keyframes bouncedelay {
  0%, 70%, 100% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    opacity: 0.3;
    margin-right: 4px;
  }

  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
    margin-right: 8px;
  }
}
@keyframes bouncedelay {
  0%, 70%, 100% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    opacity: 0.3;
    margin-right: 4px;
  }

  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
    margin-right: 8px;
  }
}

aside {
  position: fixed;
  top: 0;
  width: 160px;
  background: #fff;
  height: 100%;
  overflow: hidden;
}
aside h4 {
  margin-top: 15px;
  font-size: 10px;
  font-weight: bold;
}
aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
aside ul li {
  margin: 5px 0;
}
aside ul li ul {
  padding-left: 10px;
  display: none;
}
aside ul li ul li a {
  font-size: 12px;
}
aside ul li a.selected {
  font-weight: bold;
}
aside ul li a.selected + ul {
  display: block;
}
aside ul li a.selected + ul li a {
  color: #00468c;
}
aside ul li a.selected + ul li a:hover {
  color: #d88f2a;
}
aside .scroll {
  padding: 25px 20px;
  height: 100%;
  width: 175px;
  overflow: auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  font: 14px/1.6 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif;
  background-color: #fff;
  color: #666;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
}
iframe {
  position: fixed;
  top: 15px;
  right: 5px;
}
iframe.watch {
  right: 62px;
}
div {
  position: relative;
}
p {
  margin: 3px 0 10px 0;
  font-size: 14px;
  line-height: 32px;
  color: #555;
}
p a {
  font-weight: bold;
  font-size: 14px;
}
p strong {
  font-size: 14px;
}
a {
  font-size: 13px;
  color: #00468c;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
}
a.selected,
a:hover {
  color: #d88f2a;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  padding: 7px 0 0 0;
  clear: both;
}
h1 {
  font-size: 40px;
  margin: 7px 0 10px 0;
  letter-spacing: -1px;
  font-weight: bold;
}
h2 {
  font-size: 22px;
  text-transform: uppercase;
}
h3 {
  padding: 20px 0 4px 0;
  font-size: 16px;
  text-transform: uppercase;
}
hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 25px 0;
  clear: both;
}

