

aside {
  padding: 0 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif;
  background-color: #fff;
  color: #777;
  margin: 0;
  padding: 0;
}
body,
div {
  position: relative;
}
a {
  font-size: 13px;
  color: #00468c;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
}
a.selected,
a:hover {
  color: #d88f2a;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  margin: 7px 0 0 0;
  clear: both;
}
h1 {
  font-size: 32px;
  margin: 7px 0 10px 0;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
}
h3 {
  margin: 20px 0 4px 0;
  font-size: 16px;
  font-weight: 100;
}
hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 25px 0;
  clear: both;
}

